<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
     <add key="webpages:Version" value="3.0.0.0" />
     <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
     <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
     <add key="DOMINIOS" value="SUDAMERIS.COM.PE;PER.BNS;DOMDESA.SBPE;BNS.BNS"/>
     <add key="PATHGLOBAL" value="0"/>
    <!--Configuracion url-->
    <!-- http://localhost:14765/ -->
    <!--<add key="WebApiUrl" value="http://localhost:81/WebApiOnline"/> -->
     <add key="WebApiUrl" value="http://localhost:14766"/>
     <!--<add key="WebApiUrl" value="http://localhost:14768"/>-->
    <!--<add key="WebApiUrl" value="http://localhost:14769"/>-->
    <!--<add key="WebApiUrl" value="http://localhost:14770"/>-->
  </appSettings>
  <system.webServer>
    


    <!-- Especificamos que se utilice el reemplazo de la respuesta cuando se produce un error en el servidor en vez de hacer una redirección. De está forma logramos que los códigos de estado devueltos sean correctos. -->
    <!--<httpErrors existingResponse="Replace" errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="~/Error/Error.html" responseMode="ExecuteURL" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" subStatusCode="-1" path="~/Error/Error.html" responseMode="ExecuteURL" />
    </httpErrors>-->

    <!-- Deshabilitamos el listado de directorios -->
    <!--<directoryBrowse enabled="false" />-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge"/>
        <add name="Cache-Control" value="no-cache, no-store"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="-1"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  
    <authentication mode="Forms">
      <forms name="Genesys" loginUrl="~/" protection="All" timeout="30">
      </forms>
    </authentication>
    <globalization culture="es-PE" uiCulture="es"/>
    <!--<httpRuntime targetFramework="4.5" executionTimeout="180" maxRequestLength="20480" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />-->
    <customErrors mode="On">
      <error statusCode="403" redirect="~/Error.html"/>
      <error statusCode="404" redirect="~/Error.html"/>
      <error statusCode="500" redirect="~/Error.html"/>
    </customErrors>


  </system.web>
</configuration>
